<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">

        <title>GULP</title>

        <meta http-equiv="content-type" content="text/html">
        <meta name="author" content="Gianluca Parri">
        <meta name="owner" content="Gianluca Parri">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" rel="stylesheet">

        <style>
            :root {
                --bulma-primary-h: 180deg;
                --bulma-primary-l: 42%;
                --bulma-link-h: 180deg;
                --bulma-link-l: 42%;
            }

            .footer {
                --bulma-footer-padding: 3rem 1.5rem;
            }

            .navbar-brand {
                font-weight: 900;
            }
        </style>
    </head>

    <body>
        <nav class="navbar is-primary">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">GULP</a>
            </div>
        </nav>

        {% block content %} {% endblock %}

        <footer class="footer">
            <p class="content">
                GULP &copy; 2025, Gianluca Parri.
                <a href="https://github.com/gianluparri03/gulp" target="_blank">Source code</a>.
            </p>
        </footer>
    </body>
</html>
